html {
  --primary-background: rgba(0, 0, 0, 0.87);
  --lighter-background: #282a3a;
  --button-color: purple;
  --link-color: #c69749;
  --shadow-color: #c69749;
  --primary-text-color: white;
  background-color: var(--primary-background);
  color: var(--primary-text-color);
  font-size: 20px;
  font-weight: bold;
}

body {
  overflow-y: auto;
  overflow-x: hidden;
}

/* Note: wraps navigation, all routes and footer */
.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 20vh;

  background-color: var(--lighter-background);
  /* border: 4px solid red; */
  position: relative;
}

/* Note: links for dashboard,new question, leaderboard */
.navigation-links-container {
  display: flex;
  flex-direction: row;
  /* Note:equal space between items and at start/end of container */
  justify-content: space-around;
  align-items: center;

  width: 65%;
  height: 100%;

  position: absolute;
  /* top: 10px; */
  left: 10px;
}

.navigation-links-container h2 {
  font-size: 24px;
}

.navigation-links-container a {
  font-size: 18px;
}

/* Note: name (p), avatar (image) and logout (button)  */
.authed-header-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 100%;
  width: 35%;

  position: absolute;
  /* top: 10px; */
  right: 10px;
}

/* Note: image inside avatar container div */
.authed-header-container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.authed-header-container p {
  font-size: 16px;
}

.authed-header-container button {
  background-color: var(--button-color);
  color: var(--primary-text-color);
  font-size: 14px;
  padding: 6px 16px;
  border-radius: 10px;
  border: none;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.home-page-loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.dashboard-heading {
  margin: 0 auto;
}

.dashboard-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.question-grid-container {
  width: 100%;
  max-width: 1400px;
  margin: 1em auto;
  display: grid;
  /* Number of columns determined by auto-fit.
  minimum size of each column is 16em and the maximum size is 1fr */
  grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
  /* grid-gap: 1.5em; */
  grid-auto-flow: row;
}

@media (min-width: 52em) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

.question-grid-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: var(--lighter-background);
  /* x y blur spread */
  box-shadow: 2px 2px 12px 4px var(--shadow-color);
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}

.highlight-optionOne-container,
.highlight-optionTwo-container {
  width: 100%;
  background-color: var(--primary-background);
  border-radius: 8px;
}

.highlight-optionOne-container p.question-option-text,
.highlight-optionTwo-container p.question-option-text {
  text-decoration: underline;
}

.question-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.question-details-card {
  background-color: var(--lighter-background);
  max-width: 75%;
  box-shadow: 1px 1px 10px 4px var(--shadow-color);
  border-radius: 8px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* <Login /> */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  width: 80%;
}

label {
  margin: 5px;
  padding: 5px;
}

input {
  margin: 5px;
  padding: 5px;
  height: 30px;
  width: 350px;
  border-radius: 10px;
  font-size: 20px;
}

select {
  margin: 5px;
  padding: 5px;
  height: 40px;
  border: none;
  width: 200px;
  border-radius: 10px;
  font-size: 20px;
  color: var(--primary-text-color);
  background-color: var(--button-color);
}

textarea {
  margin: 5px;
  padding: 5px;
  height: 100px;
  width: 350px;
  border-radius: 10px;
  font-size: 20px;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a.link-btn {
  color: var(--link-color);
  margin: 10px;
  text-decoration: none;
}

h2.home-link {
  color: var(--primary-text-color);
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

button {
  background-color: var(--button-color);
  color: var(--primary-text-color);
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  border: none;
}

/* <PercentageBar /> */
.percentage-bar {
  display: flex;
  height: 28px;
  position: relative;
  border-radius: 12px;
  background-color: var(--link-color);
}

.progress,
.remainder {
  height: 100%;
  border-radius: 12px;
}

.progress {
  background-color: var(--button-color);
}

.percentage-value {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

/* Footer */
.app-footer {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1em;
  padding: 1em;
  height: 10vh;
  width: 100%;

  background-color: var(--lighter-background);
}

.app-footer a {
  color: var(--primary-text-color);
}

/* <Leaderboard />*/
.leaderboard-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.leaderboard-card {
  background-color: var(--lighter-background);
  /* min-width: 70%; */
  box-shadow: 1px 1px 10px 4px var(--shadow-color);
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
}

/* Fade in animation for <Leaderboard/> */
.fadeIn {
  animation: fadeInAnimation 3.5s ease-in;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn:nth-child(1) {
  animation-duration: 3s;
}

.fadeIn:nth-child(2) {
  animation-duration: 2s;
}

.fadeIn:nth-child(3) {
  animation-duration: 1s;
}

/* Adjust for smaller screen size */
@media (max-width: 770px) {
  .navigation-links-container h2 {
    font-size: 22px;
  }
  .navigation-links-container a {
    font-size: 17px;
  }

  .authed-header-container p {
    font-size: 14px;
  }

  .authed-header-container button {
    font-size: 12x;
    padding: 4px 14px;
    border-radius: 8px;
    border: none;
  }

  .navigation-links-container {
    display: flex;
    flex-direction: column;
    /* Note:equal space between items and at start/end of container */
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 10px;
  }

  .authed-header-container {
    align-items: flex-end;
    margin-right: 10px;
  }

  .leaderboard-container {
    flex-direction: column;
  }

  .leaderboard-card {
    min-width: 70%;
    padding: 12px;
    margin: 10px;
  }
}
